<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Add Employee </title>
</head>
<body>
    {% include 'header.html' %}
    <section id="main_section"> 
        <div>
            <h3 class="form_title"> Employee Details </h3>
            {% include 'form.html' %}
            <form class="form" action="/employees" method="POST" >
                <!-- <label class="form__label"> ID: &nbsp;&nbsp;</label> -->
                <input placeholder="ID" class="form__field" type="text" id="employee_id" name="employee_id" required><br><br>
                 
                <!-- <label class="form__label"> Name: </label> -->
                <input placeholder="Name" class="form__field" type="text" id="employee_name" name="employee_name" required><br><br>
                
                <!-- <label class="form__label"> Phone: </label> -->
                <input placeholder="Phone" class="form__field" type="tel" id="employee_phone" name="employee_phone" required><br><br>

                <!-- <label class="form__label"> Position: </label> -->
                <input placeholder="Position" class="form__field" type="text" id="employee_position" name="employee_position" required><br><br>

                <input class="button button2" type="submit" value="submit" />

            </form>
        </div>
    </section>
    {% include 'footer.html' %}
</body>
</html>