<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AQJ Homepage</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>
<body>  
    {% include 'header.html' %} 
    <section id="main_section">
    <article>
        <a href = "/projects/add"> Add Project </a>
    </article>
    <article>
        <a href = "/employees/add"> Add Employee </a>
    </article>
    <article>
        <a href = "/employees"> Show Employees </a>
    </article>
    <article>
        <a href = "/projects"> show projects</a>
    </article>
    <article>
        <a href = "/employees/set"> set employee to project</a>
    </article>
    </section>
    {% include 'footer.html' %}
</body>
</html>