<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AQJ Homepage</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>
<body>  
    {% include 'header.html' %} 
    <section style="display: flex;" id="main_section">
        <img src="https://i.ibb.co/BrcxSGZ/building-machine-1422769.jpg" alt="building-machine-1422769" >
        <img src="https://i.ibb.co/F3R5LNC/storm-over-boise-1225455.jpg" alt="storm-over-boise-1225455" >
    </section>
    {% include 'footer.html' %}
</body>
</html>