<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Employees</title>
    <link rel="stylesheet" type="text/css" href="css/my_employees.css" />
</head>
<body>
    <header>

    </header>
    <nav>
        <a href="/">Home</a>
    </nav>
    <section>
        <table>
            <tr>
                <th> C01 </th>
                <th> C02 </th>
                <th> C03 </th>
                <th> C04 </th>
            </tr>
            {%for employee in employees%}
                <tr>
                    {%for attribute in employee.values()%}
                        <td>{{attribute}}</td>
                    {%endfor%}
                </tr>
            {%endfor%}
        </table>
    </section>
</body>
</html>