<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Employees</title>
    <link rel="stylesheet" type="text/css" href="css/my_employees.css" /> 
    <link rel="stylesheet" type="text/css" href="css/table_style.css" />
</head>
<body>
    {% include 'header.html' %}
    <nav>
        <a href="/">Home</a>
    </nav>
    <section id="main_section">
        <table class="content-table">
            <thead>
                <tr>
                    <th> ID </th>
                    <th> Name </th>
                    <th> Phone Number </th>
                    <th> Job </th>
                    <th> Status </th>
                    <th> Remove Employee </th>
                </tr>
            </thead>
            <tbody>
                {%for employee in employees%}
                    <tr>
                        {%for key, val in employee.items()%}
                            {%if key == "status"%}
                                {%if val =="false"%}
                                    <td><div class="circle red_circle"></td>
                                {% else %}
                                    <td><div class="circle green_circle"></td>
                                {% endif %}
                            {% else %}
                                <td>{{val}}</td>
                            {% endif %}
                        {%endfor%}
                        <td> 
                        <form action="/remove_employee/{{employee['id']}}" class="inline">
                            <button class="button button2" >Remove</button>
                        </form>
                        </td>
                        {% if employee['status'] == 'false'%}
                        <td>
                            <form action="/relese_employee/{{employee['id']}}" class="inline">
                                <button class="button button2" >Relese from project</button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    
                {%endfor%}
            </tbody>
        </table>
        <form action="/employees/add" class="inline">
            <button id="add_btn" class="button button2" >Add new employee</button>
        </form>
    </section>
    {% include 'footer.html' %}
</body>
</html>