<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My Projects </title>
    <link rel="stylesheet" type="text/css" href="css/my_projects.css" />
</head>
<body>
    
    <table> 
        <tr>
            <th>Project</th>
            <th>Employees</th>
            <th>progress</th>
        </tr>
        {%for project in projects%}
            <tr>
                <td>{{employees.get(project.get('id'))}}</td>
                {%for cell in project%}
                    <td>{{project.get(cell)}}</td>
                {%endfor%} 
                <td> <a href="/schedule/{{ project.get('id') }}"> Add employee to project </a> </td>
            </tr> 
           
        {%endfor%}
    </table>

</body>
</html>