<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My Projects </title>
    <link rel="stylesheet" type="text/css" href="css/my_projects.css" />
    <link rel="stylesheet" type="text/css" href="css/table_style.css" />
</head>
<body> 
    {% include 'header.html' %}   
    <section id="main_section">
        <table class="content-table"> 
            <thead>
                <tr>
                    <th>Employees</th>
                    <th>Id</th>
                    <th>Project</th>
                    <th>Adress</th>
                    <th>Contractor Id</th>
                    <th>Project Notes</th>
                </tr>
            </thead>
            <tbody>
                {%for project in projects%}
                <tr>
                    <td>{{employees.get(project.get('id'))}}</td>
                    {%for cell in project%}
                        <td>{{project.get(cell)}}</td>
                    {%endfor%} 
                    <td> <a href="/schedule/{{project.get('id')}}"> Add employee to project </a> </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </section>
    
    {% include 'footer.html' %}
</body>
</html>