<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My Projects </title>
    <link rel="stylesheet" type="text/css" href="css/my_projects.css" />
    <link rel="stylesheet" type="text/css" href="css/table_style.css" />
</head>
<body> 
    {% include 'header.html' %}   
    <section id="main_section">
        <table class="content-table"> 
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Project</th>
                    <th>Adress</th>
                    <th>Project Notes</th>
                    <th>Employees</th>
                    <th>add new eployees</th>
                    <th> Delete Project </th>

                </tr>
            </thead>
            <tbody>
            <script>
                        // When the user clicks on div, open the popup
                function myFunction(element_id) {
                var popup = document.getElementById(element_id);
                popup.classList.toggle("show");
                }
                </script>
                {%for project in projects%}
                <tr>
                        <td>{{project.get('id')}}</td>
                        <td>{{project.get('name')}}</td>
                        <td>{{project.get('address')}}</td>
                        <td>{{project.get('notes')}}</td>
                        
                    <td>{% include 'employees_dialog.html' %}  

                        

                        <button class="popup2" class="button2" onclick="myFunction({{project.get('id')}})">Show Employees
                            <span class="popuptext2" id="{{project.get('id')}}">
                            {%for element in employees.get(project.get('id')) %}
                            {{element}} ,
                            
                            
                            {%endfor%}
                            </span>
                        </button>
                    </td>
                    <td>
                        <form action="/schedule/{{project.get('id')}}" class="inline">
                            <button class="button button2" >Add employee to project</button>
                        </form>
                        
                    </td>
                    <td>
                        <form action="/delete_project/{{project.get('id')}}" class="inline">
                            <button class="button button2" >Delete</button>
                        </form>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <form action="/projects/add" class="inline">
            <button id="add_btn" class="button button2" >Add new Project</button>
        </form>
    </section>
    
    {% include 'footer.html' %}
</body>
</html>