<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Add New Project Details </title>
</head>
<body> 
    {% include 'header.html' %}
    <section id="main_section"> 
        <div>
            <h3 class="form_title"> Project Details </h3>
            {% include 'form.html' %}
            <form class="new_project_form" width="500px" action="/projects" method="POST" >
                <!-- <label> Name: </label> -->
                <input class="form__field" placeholder="Name" type="text" id="project_name" name="project_name" required><br><br>
                 
                <!-- <label> Addres: </label> -->
                <input class="form__field" placeholder="Addres" type="text" id="project_address" name="project_address" required><br><br>
                
                <!-- <label> Contractor Id: </label> -->
                <input class="form__field" placeholder="Contractor Id" type="tel" id="constractor_id" name="constractor_id" required><br><br>

                <textarea class="form__field" placeholder="Notes" id="project_notes" name="project_notes" rows="4" cols="50">
                </textarea><br><br>

                <!-- <label> Start Date: </label> -->
                <input class="form__field" placeholder="Start Date" type="date" id="start_date" name="start_date" required><br><br>
                <!-- <label> Deadline: </label> -->
                <input class="form__field" placeholder="Deadline" type="date" id="deadline" name="deadline" required><br><br>

                <input class="button button2" type="submit" value="submit" />

            </form>
        </div>
    </section>
    {% include 'footer.html' %}
</body>
</html>