<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Lines</title>
    <link rel="stylesheet" type="text/css" href="css/time_line.css" />
</head>
<body>
    {% include 'header.html' %}
    <nav>
        <a href="/">Home</a>
    </nav>
    <section>
        <table>
            <tr>
                <th> id </th>
                <th> name </th>
                <th> start_date </th>
                <th> end_date </th>
            </tr>
            {%for time_line in time_lines%}
                <tr>
                    {%for attribute in time_line.values()%}
                        <td>{{attribute}}</td>
                    {%endfor%}
                    
                </tr>
            {%endfor%}
        </table>
    </section>
    {% include 'footer.html' %}
</body>
</html>